.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 64px;
  justify-content: flex-start;
  align-items: center;
}

.title-container {
  margin-bottom: 128px;
}

.create-room-button-container {
  margin-bottom: 16px;
}
