@import '../../styles/animation.scss';

.input {
  animation: move-up 250ms ease-out;
  height: 60px;
  color: #4e4e4e;
  border: 3px solid lightgrey;
  border-radius: 10px;
  font-size: 34px;
  text-align: center;
}
