.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 48px;
}

.title-container {
  margin-bottom: 24px;
}

.input-container {
  margin-bottom: 24px;
}
