@import '../../styles/animation.scss';

.container {
  animation: move-up 250ms ease-out;
  position: relative;
}

.text-area {
  resize: none;
  width: 100%;
  color: #4e4e4e;
  border: 3px solid lightgrey;
  border-radius: 10px;
  height: 60px;
  font-size: 18px;
  padding: 8px;
}

.small-text {
  position: absolute;
  right: 6px;
  bottom: 4px;
  color: grey;
  font-size: 16px;
  font-weight: bold;
  cursor: default;
}
